{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-transparent" role="navigration" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon is-large is-left has-text-info">
                    <i class="fa fa-life-ring fa-2x"></i>
                </span>
                <p class="is-size-3 has-icons-left brand-title">FLOAT</p>
            </a>
            <a class="navbar-item is-hidden-desktop" href="https://twitter.com/" target="_blank">
                <span class="icon" style="color: #55acee;">
                    <i class="fa fa-lg fa-twitter"></i>
                </span>
            </a>
            <a class="navbar-item is-hidden-desktop" href="https://github.com.com/" target="_blank">
                <span class="icon" style="color: #212121;">
                    <i class="fa fa-lg fa-github"></i>
                </span>
            </a>
            <a class="navbar-item is-hidden-desktop" href="/logout">
                <span class="icon has-text-danger">
                    <i class="fa fa-lg fa-sign-out"></i>
                </span>
            </a>
            <div class="navbar-burger burger" data-target="navMenuTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item is-hidden-touch">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="is-info button" target="_blank" href="https://twitter.com/">
                            <span class="icon">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <span>
                                Twitter
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="is-dark button" target="_blank" href="https://github.com/">
                            <span class="icon">
                                <i class="fa fa-github"></i>
                            </span>
                            <span>
                                Github
                            </span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="navbar-item is-hidden-touch">
                <p class="control">
                    <a class="is-danger button" href="/logout">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>
                            Logout
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock content %} {% block footer %}{% endblock footer %}

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>FLOAT</strong> is a project by Anthony Lee.
                </p>
            </div>
        </div>
    </footer>

</body>

</html>