 {% extends 'base.html' %} {% block title %} Create a Post - {{ block.super }} {% endblock title %} {% block content %}
<section class="section">
    <div class="container">
        <div class="card django-card">
            <!-- The form to submit a post -->
            <div class="card-content">
                <div class="field django-form">
                    <h1 class="is-size-4">Create a Post</h1>
                    <div class="control">
                        <form role="form" action="" method="post">
                            {% csrf_token %} {{ form.as_p }}
                            <input class="button is-link" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for post in posts %}
        <div class="card django-card">
            <article class="media postcards">
                <div class="media-content">
                    <div class="content">
                        <p class="is-size-5">
                            <strong>{{ post.user }}</strong>
                            <small>{{ post.created_at }}</small>
                            <br> {{ post.content }} </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            {% if user.pk == post.user.pk %}
                            <a href="{% url 'edit' pk=post.pk %}" class="level-item">
                                <span class="icon is-small">
                                    <i class="fa fa-edit"></i>
                                </span>
                            </a>
                            {% endif %}
                            <a class="level-item">
                                <span class="icon is-small">
                                    <i class="fa fa-retweet"></i>
                                </span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small">
                                    <i class="fa fa-heart"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                    {% if user.pk == post.user.pk %}
                    <button class="delete"></button>
                    {% endif %}
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}